<h1>$user.getName()</h1>
<br>
<hr>
#foreach ($epic in $epics)
  <div class="row">
  <h1>$epic.getTitle()</h1>
  #foreach ($story in $epic.getAllSubTasks())
  <div class="col-md-4">
     <h2>$story.getTitle()</h2>
    #foreach ($task in $story.getAllSubTasks(1))
      <div class="task"><h4>$task.getTitle()</h4>
        <ul>$task.getDescription()</ul><a href="/assign-inprogress/$task.getId()" class="btn btn-success small"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></div>
      <br>
    #end
  </div>
  #end
</div>
#end
