<!DOCTYPE html>
<html>
  <head>
    <title>PMS</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Montserrat|Fjalla+One|Indie+Flower' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">



              #parse( $template )


        </div>
      </div>
    </div>
  </body>
</html>
