<h2>$task.getTitle()</h2>
<h4>$task.getDescription()</h4>

<p>Create date: <strong>$task.getDateCreated()</strong></p>
<p>Author name: <strong>$user.getName()</strong></p>
<p>Author email: <strong>$user.getEmail()</strong></p>
<p>Task status: <strong>$task.getStatus()</strong></p>
<p>Implementor: <strong>$task.getStatus()</strong></p>
