<h2>$task.getTitle()</h2>
<h4>$task.getDescription()</h4>

<p>Create date: <strong>$task.getDateCreated()</strong></p>
<p>Author: <strong>$user.getName()</strong></p>
<p>Author: <strong>$user.getEmail()</strong></p>
